PORT=3021
NODE_ENV=development
DATABASE_URL=postgresql://infinite:infinite@localhost:5434/infinite_adventures
DATABASE_SSL_REJECT_UNAUTHORIZED=false
FRONTEND_URL=http://localhost:5173
UPLOADS_DIR=uploads/photos
SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=us-east-2
S3_BUCKET_NAME=infinite-adventures-dev
